/*
Copyright 2011 Saiyasodharan (http://saiy2k.blogspot.com/)

This file is part of the open source game, Tic Tac Toe Extended (https://github.com/saiy2k/Tic-Tac-Toe-Extended-HTML5-Game)

Tic Tac Toe Extended is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Tic Tac Toe Extended is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Tic Tac Toe Extended.  If not, see <http://www.gnu.org/licenses/>.
*/

body{
    background-color		:	#dddddd;
	text-align				:	center;
	color					:	#4b3318;
	cursor					:	pointer;
}

#container{
	position				:	absolute;
	border					:	4px solid #865c2a;
	top						:	50%;
	left					:	50%;
}

#canvasContainer{
	background-color		:	#eee;
	text-align				:	center;
}

#shareScoreWidget {
	background-color		:	rgba(78, 55, 30, 0.8);
	position				:	absolute;
	top						:	20px;
	text-align				:	center;
	color					:	#bbb;
	width					:	100%;	
	height					:	320px;
}

#infoScreen {
	position				:	absolute;
	background				:	url('images/infoScreen.png');
	width					:	320px;
	height					:	320px;
	top						:	20px;
	text-align				: 	center;
}

#gOverStatus {
	font					:	18px 'Arial';
	font-weight				:	bold;
}

#gOverRemark {
    font					:	12px 'Arial';
    font-weight				:	bold;
}

#gOverDescription {
    font					:	12px 'Arial';
    font-weight				:	bold;
}

#playOptionsDiv {
	border-top				:	2px solid #97672e;
	font					:	12px verdana;
}

.selectedButton {
    font-weight             :   bold;
    color                   :   #fff;
}

.scoreBoardLabel{
	display					:	inline-block;
	width					:	10%;
	border					:	0px solid;
	font					:	16px Verdana;
}

#shareFacebookWidget {
	width					:	32px;
	height					:	32px;
}

#shareTwitterWidget {
	width					:	32px;
	height					:	32px;
}

#badgeImageHolder {
	width					:	128px;
	height					:	128px;
}

.playOptionsHalf{
	display					:	inline-block;
	width					:	48%;
	float					:	left;
	margin					:	2px;
	background				:	url('images/brownTransparent.png');
	cursor					:	pointer;
}

.playOptionsRow{
	display					:	block;
	height					:	38px;
	text-decoration			:	none;
	padding-top				:	19px;
}
.playOptionsRow:hover{
	background				:	url('images/brownTransparent.png');
}

.nameInputBox {
	border					:	2px solid rgba(125, 76, 24, 0.5);
	background-color		:	rgba(191, 127, 46, 0.5);
	width					:	52px;
	height					:	22px;
	color					:	#4b3318;	
}

#creditsText {
	position				:	absolute;
	font					:	9px 'Verdana';
	top						:	40px;
	left					:	20px;
	width					:	280px;
	margin					:	auto;
	background				:	#865c2a;
	padding					:	5px;
	color					:	#ccc;
}
#creditsText a {
	color					:	#eee;
	text-decoration			:	none;
}

.titleButton {
	background				:	#865c2a;
	float					:	right;
	padding					:	2px;
	font					:	12px 'Courier';
	border-left				:	1px #dbb991 solid;
    text-decoration         :   none;
}

#boardCanvas {
	background				:	url('images/board.png');
	width					:	320px;
	height					:	320px;
}

.socialButton {
	display					:	inline;
	width					:	48px;
	height					:	48px;
	float					:	left;
transform: scale(0.8,0.8);
-ms-transform: scale(0.8,0.8); /* IE 9 */
-webkit-transform: scale(0.8,0.8); /* Safari and Chrome */
-o-transform: scale(0.8,0.8); /* Opera */
-moz-transform: scale(0.8,0.8); /* Firefox */

}

/* big screens */
@media screen and (min-width: 800px) {
#container
{
	width				:	480px;
	height				:	640px;
	margin				:	-320px 0 0 -240px;
	background			:	url('images/mainUI2X.png');
}

#titleDiv
{
	font-size			:	24px;
	font-weight			:	bold;
	font-variant		:	small-caps;
	overflow			:	hidden;
}

#canvasContainer
{
	width				:	480px;
	height				:	480px;
}

#shareScoreWidget {
	top					:	28px;
	height				:	480px;
}

#infoScreen {
	background			:	url('images/infoScreen2X.png');
	top					:	28px;
	width				:	480px;
	height				:	480px;
}

.titleButton {
	font				:	16px 'Courier';
	padding				:	4px;
	padding-top			:	5px;
}

#gOverStatus {
	font				:	24px 'Arial';
	font-weight			:	bold;
}

#gOverRemark {
    font				:	16px 'Arial';
    font-weight			:	bold;
}

#gOverDescription {
    font				:	16px 'Arial';
    font-weight			:	bold;
}


#badgeImageHolder {
	width				:	256px;
	height				:	256px;
}

#shareFacebookWidget {
	width				:	48px;
	height				:	48px;
}

#shareTwitterWidget {
	width				:	48px;
	height				:	48px;
}

.scoreBoardLabel {
	font				:	22px 'Verdana';
}

.playOptionsRow{
	padding-top			:	12px;
}

.nameInputBox {
	width				:	72px;
}

#creditsText {
	top					:	68px;
	left				:	40px;
	width				:	400px;
	font				:	14px 'Verdana';
}

#boardCanvas {
	background			:	url('images/board2X.png');
	width				:	480px;
	height				:	480px;
}

.socialButton {
	display					:	inline;
	width					:	70px;
	height					:	70px;
	float					:	left;
transform: scale(1.0,1.0);
-ms-transform: scale(1.0,1.0); /* IE 9 */
-webkit-transform: scale(1.0,1.0); /* Safari and Chrome */
-o-transform: scale(1.0,1.0); /* Opera */
-moz-transform: scale(1.0,1.0); /* Firefox */

}

}

/* mobile screens */
@media screen and (max-width: 800px) {
#container
{
	width				:	320px;
	height				:	480px;
	margin				:	-240px 0 0 -160px;
	background			:	url('images/mainUI.png');
}

#canvasContainer
{
	width				:	320px;
	height				:	320px;
}

}
???END
