/*
Copyright 2011 Saiyasodharan (http://saiy2k.blogspot.com/)

This file is part of the open source game, Tic Tac Toe Extended (https://github.com/saiy2k/Tic-Tac-Toe-Extended-HTML5-Game)

Tic Tac Toe Extended is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Tic Tac Toe Extended is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Tic Tac Toe Extended.  If not, see <http://www.gnu.org/licenses/>.
*/

body{
    background-color		:	#dddddd;
	text-align				:	center;
	color					:	#4b3318;
}

#container{
	position				:	absolute;
	border					:	4px solid #865c2a;
	top						:	50%;
	left					:	50%;
}

#canvasContainer{
	background-color		:	#eee;
	text-align				:	center;
}

#shareScoreWidget {
	position				:	absolute;
	top						:	240px;
	text-align				:	center;
	color					:	#bbb;
	width					:	100%;	
}

#playOptionsDiv {
	border-top				:	2px solid #97672e;
	height					:	100px;
	font					:	12px verdana;
}

.scoreBoardLabel{
	display					:	inline-block;
	width					:	10%;
	border					:	0px solid;
	font					:	22px Verdana;
}

.playOptionsHalf{
	display					:	inline-block;
	width					:	49%;
	float					:	left;
	margin					:	2px;
	background				:	url('images/brownTransparent.png');
}

.playOptionsRow{
	display					:	block;
	height					:	38px;
	text-decoration			:	none;
	padding-top				:	12px;
}
.playOptionsRow:hover{
	background				:	url('images/brownTransparent.png');
}

.nameInputBox {
	border					:	2px solid #ff9999;
	background-color		:	#ee8888;
}

/* big screens */
@media screen and (min-width: 800px) {
	#container
	{
		width				:	480px;
		height				:	640px;
		margin				:	-320px 0 0 -240px;
		background			:	url('images/mainUI2X.png');
	}
	
	#titleDiv
	{
		font-size			:	24px;
		font-weight			:	bold;
		font-variant		:	small-caps;
	}
	
	#canvasContainer
	{
		width				:	480px;
		height				:	480px;
	}

}

/* mobile screens */
@media screen and (max-width: 800px) {
	#container
	{
		width				:	320px;
		height				:	480px;
		margin				:	-240px 0 0 -160px;
		background			:	url('images/mainUI.png');
	}
	
	#canvasContainer
	{
		width				:	320px;
		height				:	320px;
	}
}